#homepage-container {
    width: 55vw;
    margin: auto;
    /* background-color: #faf; */
    text-align: center;
    height: 12vh;
    margin-top: 50px;
}

#homepage-container img {
    width: 7vw;
    display: inline-block;
    position: absolute;
    right: 2px;
    bottom: 0;
}