#activities-container {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}

#activities-container h3 {
    text-align: center;
}

#activity-container p {
    text-align: center;
}

#activities-container h5 {
    margin-top: 20px;
}

#activities-container .Collapsible {
    margin-bottom: 50px;
}

#own,
#random {
    margin-top: 20px;
    width: 50vw;
    padding: 0px;

}

#own option {
    text-transform: capitalize;
}

#own textarea {
    resize: none;
    width: 20vw;
    height: 5vh;
}

#own select {
    display: block;
    width: 20vw;
    margin-bottom: 20px;
    padding: 10px;
}

#own .btn {
    width: 20vw;
}

#random img {
    width: 2vw;
}

#random p {
    /* text-align: center; */
    margin-top: 10px;
    margin-left: 17%;
}

#random input {
    text-align: center;
    width: 20vw;
    height: 5vh;
    background-color: white;
    border: none;
    outline: none;
}

#random #randomBtn {
    margin-bottom: 10px;
    background-color: lavender;
    outline: none;
    border: none;
    margin-left: 15%;
    width: 5vw;
}

#random .boot-btn,
#specific .boot-btn {
    width: 10vw;
}

#random .boot-btn {
    margin-left: 10%;
}

#specific .boot-btn {
    margin-left: 12%;
}

#specific {
    margin-top: 20px;
}

#specific .collapse a {
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}

#specific .type-container .btn-link {
    margin-left: -13px;
}


#specific input {
    background-color: white;
    border: none;
    width: 30vw;
    outline: none;
    text-align: center;
}