#profile-container {
    width: 50vw;
    margin: auto;
    margin-top: 50px;
}

#profile-container img {
    width: 25px;
    cursor: pointer;
    float: right;
    position: relative;
}

#profile-container img:first-child {
    margin-left: 10px;
}

#profile-container h5 {
    margin-top: 20px;
}
