#signup-container {
    width: 25vw;
    height: 42vh;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px dotted grey;
    /* float: left; */
}

#signup-container h3 {
    padding-top: 22px;
}

#signup-container input {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.form-control,
#dropdown-basic {
    width: 20vw;
}

#dropdown-basic {
    margin-bottom: 20px;
}

.btn-success {
    width: 20vw;
}