#signup-container {
    width: 20vw;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#signup-container input {
    margin-top: 20px;
}


.form-control, #dropdown-basic {
    width: 20vw;
}

#dropdown-basic {
    margin-bottom: 20px;
}

.btn-success {
    width: 20vw;
}