#signup-container {
    width: 40vw;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#signup-container input {
    margin-top: 20px;
}

#signup-container button {
    margin-top: 20px;
    width: 9vw;
    text-align: center;
    padding: 10px;
}

.dropdown {
    display: block;
    width: 7vw;
    margin-top: 20px;
    width: 9vw;
}

.Dropdown-control {
    height: 3vh;
    
}

.Dropdown-arrow-wrapper .Dropdown-arrow {
    top: 9px;
}

.Dropdown-placeholder {
    margin-top: -8px;
}